body{
    min-height: 100vh;
}

.clubs-section{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.clubs-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.club-item{
   border-radius: 6px;
    max-width: 100%;
    background-color: rgb(41, 13, 65);
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.027);
}

.badge-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.stadium-img{
    max-width: 100%;
    min-width: 100%;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 3px solid rgb(104, 19, 126);
}


.badge-img{
    width: 80px;
    height: auto;
}

.club-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 40px;
    color: white;
}

@media(max-width:1200px){
    .clubs-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:992px){
    .clubs-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:768px){
    .clubs-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px){
    .club-item-content p, .club-item-content h4{
        font-size: 12px;
    }

    .club-item-content{
        padding: 50px 0 30px;
    }
}