@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

:root{
    --light-color: rgb(98, 25, 180);
    --dark-color: rgb(39, 15, 54);
}

section{
    margin: 0 auto;
    max-width: 90%;
}

li{
    list-style: none;
}

body{
    background: linear-gradient(to bottom right, #9933ff 0%, #66ff99 100%);
    position: relative;
    font-family: 'Anek Gujarati', sans-serif;
}

.title{
    font-size: 45px;
    color: white;
}

section{
    max-width: 90%;
    margin: 0 auto;
}

.fixture-section{
    background: var(--dark-color);
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.fixture-header{
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(170, 129, 218);
    border-radius: 8px 8px 0px 0px;
}

.score-section, .fixture-stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(22, 5, 37);
}


@media(max-width: 600px){
    .score-section, .fixture-stat{
        font-size: 14px;
        padding: 10px 0;
    }
}