@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --light-color: rgb(144, 73, 224);
    --dark-color: rgb(39, 15, 54);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background: linear-gradient(to bottom right, #9933ff 0%, #66ff99 100%);
    position: relative;
    font-family: 'Anek Gujarati', sans-serif;
}

section{
    margin-top: 120px;
    margin-bottom: 120px;
}

.title{
    font-size: 24px;
    
    color: white;
    font-weight: lighter;
    margin-bottom: 30px;
}



.teams-list{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    min-width: 100vw;
    background-color: rgb(41, 13, 65);
    z-index: 999;
    color: white;
    min-height: 100vh;
    display: none;
    background: var(--dark-color);
}

.teams-list.active{
    display: block;
}

.teams-list i{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;
    color: white;
}

.teams-list ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--dark-color);
}

.teams-list ul.active{
    display: grid;
}

.teams-list ul li{
    border: 1px solid rgb(58, 22, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.5s;
  
}

.teams-list ul li:hover{
    background: var(--light-color);
}

.teams-list ul li img{
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.nav-container{
    background: white;
    position: relative;
    box-shadow: 0px -5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(10, 10, 10);
    max-width: 90%;
    margin: 0 auto;
    padding: 12px 0;
}

.nav-logo{
    min-width: 100px;
    max-width: 100px;
    height: auto;
}


.nav-2{
    box-shadow: 0px -5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.nav-2 img{
    width: 60px;
    height: auto;
}

.links{
    display: flex;
    align-items: center;
}

.links li{
    margin-left: 25px;
    font-size: 16px;
    cursor: pointer;
}


.menu-icon{
    display: none
}

.header-section{
    background: url("https://www.telegraph.co.uk/content/dam/football/2019/05/12/TELEMMGLPICT000196898158_trans_NvBQzQNjv4Bqyntj27Do1A_uEF6jNSG5NliLS1kdl2-31boe1QZtYnw.jpeg") no-repeat center/cover;
    height: 90vh;
    position: relative;
    margin-top: 0px !important;
}

.header-section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top left, #660066 0%, #00ffff 100%);
    opacity: 0.5;
}

.news-section{
    max-width: 90%;
    margin: 0 auto;
}

.news-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.news-item{
    display: grid;
    grid-template-columns: 160px auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.5s ease;
    cursor: pointer;
    background-color: rgb(41, 13, 65);
    color: white;
}

.news-item:hover{
   transform: translateY(-10px);
}


.news-item img{
    max-width: 100%;
    height: auto;
    border-radius: 12px 0px 0px 12px;
}

.news-content{
    padding: 30px;
    position: relative;
}

.news-content::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: rgb(255, 82, 125);
}


.news-content span{
    color: rgb(255, 82, 125);
}

.news-content h4{
    font-weight: lighter;
}


.news-content p{
    font-size: rgb(201, 109, 109);
}

.latest-results{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.latest-results-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.latest-result, .latest-result img{
    max-width: 100%;
}


.latest-result img{
    border-bottom: 1px solid rgb(97, 38, 136);
    border-radius: 8px 8px 0px 0px;
}

.latest-result{
    background-color: var(--dark-color);
    border-radius: 8px;
    color: white;
    transition: transform 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.473);
}

.latest-result:hover{
    transform: translateY(-10px);  
}

.team-1, .team-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    font-size: 20px;
}


.table-section{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.table-header{
    background: rgb(255, 122, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.season-select{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    visibility: hidden;
}

.table-header i{
    margin-left: 10px;
}

.years{
    position: absolute;
    width: 100%;
    padding: 10px 0;
    top: 100%;
    text-align: center;
    left: 0;
    background-color: rgb(255, 122, 82);
    color: white;
    z-index: 99;
    cursor: pointer;
}

.table{
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 8px;
}

thead{
    font-weight: bold;
}


tr{
    min-width: 100%;
    text-align: center;
    padding: 12px 0;
    color: white;
    border-bottom: 1px solid rgb(64, 18, 73);
    transition: background-color 0.5s ease;
    background-color: var(--dark-color);
}

tr:hover{
    background-color: var(--light-color);
}

td{
    padding: 10px 0;
}

.club{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.align-left, .club{
    text-align: left !important;
    padding-left: 40px;
}

.club img{
    margin-right: 10px;
    width: 40px;
    height: auto;
}




.loader-container.active{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    z-index: 999;
}

.purchase-jersey{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    color: white;
    margin-top: 70px;
    margin-bottom: 70px;

}

.purchase-img{
    width: auto;
    height: 70px;
}


/*Footer*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-color);
    color: white;
    padding: 30px 0;
    font-size: 36px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 40px;
    height: auto;
    margin-left: 16px;
}
.loader-container{
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  




@media(max-width: 1200px){
 

    body{
        border: 3px solid rgb(127, 47, 255);
    }

  .teams-list ul{
    grid-template-columns: repeat(4, 1fr);
}

.latest-results-grid, .recent-results-container{
    grid-template-columns: repeat(3, 1fr);
}


   
}

@media(max-width: 992px){

    .teams-list ul{
        grid-template-columns: repeat(3, 1fr);
    }
  
    body{
        border: 3px solid greenyellow;
    }

    .news-container{
        grid-template-columns: 1fr;
    }

    td{
        font-size: 14px;
    }
}

@media(max-width: 768px){

    body{
        border: 3px solid red;
    }

    .menu-icon{
        display: block;
        font-size: 26px;
    }
    

    .links{
        position: fixed;
        top: 0;
        left: -100%;
        min-height: 100vh;
        background: #66ff99;
        flex-direction: column;
        z-index: 999;
        width: 30vh;
        min-width: 100px;
        color: var(--dark-color);
        padding-top: 100px;
        transition: all 0.5s ease;
    }

    .links.active{
        left: 0;
    }


    .links li{
       margin-left: 0px;
       margin-bottom: 15px;
    }

    section{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .teams-list ul, .latest-results-grid, .recent-results-container, .clubs-grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px !important;
        row-gap: 15px !important;
    }

    .teams-list ul{
        row-gap: 0px !important;
        column-gap: 0px !important;
    }

    td{
        font-size: 12px;
    }

    .club img{
        width: 30px;
        height: auto;
    }

    .team-1, .team-2{
        font-size: 14px;
        padding: 8px 25px;
    }
}

@media(max-width: 600px){

    .nav-logo{
        max-width: 40px;
        height: auto;
    } 

    .club{
        padding-left: 0px;
    }



   .table{
       padding: 5px;
   }

    .header-section{
        height: 70vh;
    }

    

    .title{
        font-size: 25px;
    }

    .news-item{
        grid-template-columns: 120px auto;
    }

    .news-content{
        padding: 20px;
    }

    .news-content span{
        font-size: 12px;
    }

    .news-content h4{
        font-size: 12px;
    }

    td{
        font-size: 12px;
        padding: 8px;
    }

    .pl-logo{
       height: 200px;
        width: 200px;
    }
    
    .pl-logo img{
       width: 125px;
       height: auto;
    }

    .gf, .ga{
        display: none;
    }
}
