@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --light-color: rgb(144, 73, 224);
    --dark-color: rgb(39, 15, 54);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background: linear-gradient(to bottom right, #9933ff 0%, #66ff99 100%);
    position: relative;
    font-family: 'Anek Gujarati', sans-serif;
}

section{
    margin-top: 120px;
    margin-bottom: 120px;
}

.title{
    font-size: 45px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}



.teams-list{
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 100vw;
    min-width: 100vw;
    background-color: rgb(41, 13, 65);
    z-index: 99;
    color: white;
}

.teams-list ul{
    display: none;
    grid-template-columns: repeat(5, 1fr);
}

.teams-list ul.active{
    display: grid;
}

.teams-list ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.5s;
  
}

.teams-list ul li:hover{
    background: var(--light-color);
}

.teams-list ul li img{
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.nav-container{
    background: white;
    border-bottom: 1px solid black;
    position: relative;
    box-shadow: 0px -5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(10, 10, 10);
    max-width: 90%;
    margin: 0 auto;
    padding: 12px 0;
}

.nav-logo{
    max-width: 60px;
    height: auto;
}


.nav-2{
    box-shadow: 0px -5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.nav-2 img{
    width: 60px;
    height: auto;
}

.links{
    display: flex;
    align-items: center;
}

.links li{
    margin-left: 25px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}


.menu-icon{
    display: none
}

.header-section{
    background: var(--dark-color);
    height: 90vh;
    position: relative;
    margin-top: 0px !important;
}

.header-img{
    height: 50%;
    background: url('https://www.arsenal.com/sites/default/files/styles/large_16x9/public/images/Emirates%20Stadium%20.jpg?itok=naCpYSZ6') no-repeat center/cover;
}

.pl-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border: 1px solid black;
   height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.pl-logo img{
   width: 150px;
   height: auto;
}

.header-img, .pl-header{
    height: 50%;
    min-height: 50%;
}

.header-img img{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.pl-header{
    background-color: var(--dark-color);
}

.latest-results{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.latest-results-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.latest-result, .latest-result img{
    max-width: 100%;
}


.latest-result img{
    border-bottom: 1px solid rgb(96, 78, 119);
    border-radius: 8px 8px 0px 0px;
}

.latest-result{
    background-color: var(--dark-color);
    border-radius: 8px;
    color: white;
    transition: transform 0.5s ease;
    cursor: pointer;
    text-decoration: none;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.473);
}

.latest-result:hover{
    transform: scale(1.05);
    background-color: rgb(255, 122, 82);
}

.team-1, .team-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-size: 20px;
}


.table-section{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.table-header{
    background: rgb(255, 122, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.season-select{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    visibility: hidden;
}

.table-header i{
    margin-left: 10px;
}

.years{
    position: absolute;
    width: 100%;
    padding: 10px 0;
    top: 100%;
    text-align: center;
    left: 0;
    background-color: rgb(255, 122, 82);
    color: white;
    z-index: 99;
    cursor: pointer;
}

.table{
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

thead{
    font-weight: bold;
}


tr{
    background-color: var(--dark-color);
    min-width: 100%;
    text-align: center;
    padding: 12px 0;
    color: white;
    border-bottom: 1px solid rgb(22, 5, 37);
    transition: background-color 0.5s ease;
}

tr:hover{
    background-color: var(--light-color);
}

td{
    padding: 10px 0;
}

.club{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.align-left, .club{
    text-align: left !important;
    padding-left: 40px;
}

.club img{
    margin-right: 10px;
    width: 40px;
    height: auto;
}




.loader-container.active{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    z-index: 999;
}

.purchase-jersey{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    color: white;
    margin-top: 70px;
    margin-bottom: 70px;

}

.purchase-img{
    width: auto;
    height: 70px;
}


/*Footer*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-color);
    color: white;
    padding: 30px 0;
    font-size: 36px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 40px;
    height: auto;
    margin-left: 16px;
}
.loader-container{
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  




@media(max-width: 1200px){
 
  .teams-list ul{
    grid-template-columns: repeat(4, 1fr);
}

.latest-results-grid, .recent-results-container{
    grid-template-columns: repeat(3, 1fr);
}


   
}

@media(max-width: 992px){

    .teams-list ul{
        grid-template-columns: repeat(3, 1fr);
    }
  

    td{
        font-size: 14px;
    }
}

@media(max-width: 768px){

    .menu-icon{
        display: block;
        font-size: 26px;
    }
    

    .links{
        position: fixed;
        top: 0;
        left: -100%;
        min-height: 100vh;
        background: #66ff99;
        flex-direction: column;
        z-index: 999;
        width: 30vh;
        min-width: 100px;
        color: var(--dark-color);
        padding-top: 100px;
        transition: all 0.5s ease;
    }

    .links.active{
        left: 0;
    }


    .links li{
       margin-left: 0px;
       margin-bottom: 15px;
    }

    section{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .teams-list ul, .latest-results-grid, .recent-results-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 15px;
    }

    .teams-list ul{
        row-gap: 0px !important;
        column-gap: 0px !important;
    }

    td{
        font-size: 12px;
    }

    .club img{
        width: 30px;
        height: auto;
    }

    .team-1, .team-2{
        font-size: 14px;
        padding: 8px 25px;
    }
}

@media(max-width: 600px){

    .nav-logo{
        max-width: 40px;
        height: auto;
    } 

    .club{
        padding-left: 0px;
    }



   

    .header-section{
        height: 80vh;
    }

    

    .title{
        font-size: 25px;
    }

    td{
        font-size: 13px;
        padding: 5px;
    }

    .pl-logo{
       height: 200px;
        width: 200px;
    }
    
    .pl-logo img{
       width: 125px;
       height: auto;
    }

    .gf, .ga{
        display: none;
    }
}
