@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

:root{
    --light-color: rgb(98, 25, 180);
    --dark-color: rgb(39, 15, 54);
}

section{
    margin: 0 auto;
    max-width: 90%;
}

li{
    list-style: none;
}

body{
    background: linear-gradient(to bottom right, #9933ff 0%, #66ff99 100%);
    position: relative;
    font-family: 'Anek Gujarati', sans-serif;
}

.title{
    font-size: 45px;
    color: white;
}



.team-name-section{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.team-name-section img{
    height: 125px;
    width: auto;
    margin-right: 20px;
}

.team-name-section h1{
    font-size: 85px;
    color: white;
}



.latest-results{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recent-results-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.latest-result, .latest-result img{
    max-width: 100%;
}


.latest-result img{
    border-bottom: 1px solid rgb(100, 100, 100);
    border-radius: 8px 8px 0px 0px;
}

.latest-result{
    background-color: var(--dark-color);
    border-radius: 8px;
    color: white;
    transition: transform 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.473);
}

.latest-result:hover{
    transform: scale(1.05);

}

.team-1, .team-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-size: 20px;
}
.roster-grid{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.roster-item{
    position: relative;
    max-width: 100%;
    border-radius: 6px;
    background-color: var(--dark-color);
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 0px 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.roster-item .number{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
}

.roster-item img{
    max-width: 100%;
    display: block;
    margin-top: 25px;
}

.roster-item:hover{
   transform: translateY(-10px);
    
}





@media(max-width: 1200px){
   

    .roster-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    

   
}

@media(max-width: 992px){
    

  
    

    .roster-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width: 768px){


    .team-name-section img{
        height: 100px;
        width: auto;
        margin-right: 20px;
    }
    
    .team-name-section h1{
        font-size: 65px;
        color: white;

    }
    
    

    .roster-grid{
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media(max-width: 600px){
   

    .title{
        font-size: 25px;
    }

    .team-name-section img{
        height: 75px;
        width: auto;
        margin-right: 12px;
    }
    
    .team-name-section h1{
        font-size: 35px;
    }

    .roster-item{
        font-size: 12px;
    }
    
    .roster-item .number{
       visibility: hidden;

    }

}
